version: "3.9"

services:
  dbpg2:
    image: postgres:15-alpine
    restart: unless-stopped
    volumes:
      - ./paperless_db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - paperless

  redis:
    image: docker.io/library/redis:7
    restart: unless-stopped
    volumes:
      - "./redisdata:/data"
    networks:
      - paperless

  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: unless-stopped
    depends_on:
      - dbpg2
      - redis
      - gotenberg
      - tika
      - eml2pdf
    ports:
      - "${PAPERLESS_PORT}:8000"
    environment:
      PAPERLESS_REDIS: redis://redis:6379
      PAPERLESS_DBHOST: dbpg2
      PAPERLESS_FILENAME_FORMAT: "Posteingang/{{ correspondent }}/{{ created_year }}/{{ document_type }}/{{ title }}"
      PAPERLESS_SECRET_KEY: ${SECRET_KEY}
      PAPERLESS_OCR_LANGUAGE: deu+eng
      PAPERLESS_OCR_MODE: force
      PAPERLESS_CONSUMER_RECURSIVE: "true"
      PAPERLESS_CONSUMER_IGNORE_PATTERN: '.*\.partial'
      PAPERLESS_TIKA_ENABLED: 1
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://gotenberg:3000
      PAPERLESS_TIKA_ENDPOINT: http://tika:9998
      PAPERLESS_EMAIL_ATTACHMENT_ONLY: ${PAPERLESS_EMAIL_ATTACHMENT_ONLY}
      PAPERLESS_EMAIL_HOST: smtp.gmail.com
      PAPERLESS_EMAIL_PORT: 587
      PAPERLESS_EMAIL_HOST_USER: ${Email_Adresse}
      PAPERLESS_EMAIL_HOST_PASSWORD: ${GOOGLE_APP_PASSWORT} 
      PAPERLESS_EMAIL_FROM: ${Email_Adresse}
      PAPERLESS_EMAIL_USE_TLS: true 
      PAPERLESS_EMAIL_USE_SSL: false
      PAPERLESS_CONSUMER_POLLING: 600
      PAPERLESS_DBUSER: ${POSTGRES_USER}
      PAPERLESS_DBPASS: ${POSTGRES_PASSWORD}
    volumes:
      - ./data:/usr/src/paperless/data
      - ./consume:/consume
      - ./export:/usr/src/paperless/export
      - ./media:/usr/src/paperless/media
    networks:
      - paperless

  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.6.0
    restart: unless-stopped
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"
      - "--api-timeout=300s"
    networks:
      - paperless

  tika:
    image: ghcr.io/paperless-ngx/tika:latest
    restart: unless-stopped
    networks:
      - paperless

  eml2pdf:
    image: paperless-eml2pdf
    build:
      context: ./eml2pdf
      dockerfile: Dockerfile
    volumes:
      - ./eml-import:/input
      - ./consume:/consume
      - ./eml-import/archiv:/eml-import/archiv
      - ./eml-import/error:/eml-import/error
      - ./config.json:/config.json
    environment:
      - TZ=Asia/Bangkok
      - LOGLEVEL=INFO
    networks:
      - paperless

networks:
  paperless:
    driver: bridge
